- if @todo_list.empty?
  %h1.todo_list_title
    No Todo lists Created
-else
  - @todo_list.each do |todolist|
    .index_row.clearfix
      %h2.todo_list_title
        = link_to todolist.title, todo_list_path(todolist)
      %p.todo_list_sub_title
        = truncate(todolist.description, length: 500)